body {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  opacity: 0;
  transform: translateX(100px);
  transition-duration: 150ms;
  margin: 15px 0;
}

.card.show {
  transform: translateX(0px);
  opacity: 1;
}
